#h1-1 {
  font-size: 30px;
}

#h1-2 {
  font-size: 30px;
}

.tee {
  width: 200px;
}

.btn-lg {
  font-size: 40px;
  width: 250px;
}

@media only screen and (max-width: 600px) {
    #h1-1 {
      font-size: 30px;
    }
}

.innerH1 {
  font-size: 20px;
}
